@font-face {
    font-family: 'Jacquard 12';
    src: local('Jacquard 12'), url('jacquardfont.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jacquard 12', sans-serif;
}

.background {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.terms-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    text-align: justify;
    color: #ffffff;
}

h1, h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #fff;
}

/* Bottoni */
.jacquard-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Jacquard 12', sans-serif;
    transition: background-color 0.3s ease;
}

.jacquard-button:hover {
    background-color: #565765;
    color: #fff;
}

/* Responsività */
@media (max-width: 600px) {
    .terms-container {
        padding: 10px;
    }

    .terms-container h1, .terms-container h2 {
        font-size: 1.3rem;
    }

    .terms-container p {
        font-size: 0.9rem;
    }
}
